%article
  %header
    .publication-thumbnail= image_tag publication.thumbnail if publication.thumbnail?
    %h1= link_to publication.title, publication
    .publication-date= publication.created_at.to_formatted_s(:long_ordinal)
  = publication.to_html
  %menu
    = link_to "edit", edit_admin_publication_path(publication)
    = link_to "destroy", admin_publication_path(publication), method: :delete, confirm: "Are you sure ?"