= form_for [:admin, @publication] do |f|
  - if @publication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@publication.errors.count, "error")} prohibited this publication from being saved:"
      %ul
        - @publication.errors.full_messages.each do |msg|
          %li= msg

  .field
    .publication-thumbnail
      = image_tag @publication.thumbnail if @publication.thumbnail?
    = f.label :thumbnail
    = f.file_field :thumbnail

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
