%p#notice= notice

%p
  %b Title:
  = @publication.title
%p
  %b Content:
  = @publication.to_html

= link_to 'Edit', edit_admin_publication_path(@publication)
\|
= link_to 'Back', admin_publications_path
