!!! 5
%html
  %head
    %title Voleurs de Swing
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header#page_header
      = image_tag "logo.png", class: "logo"
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
